# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Instance folder (used for local configuration)
instance/

# Environment variables file
.env

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Log files
*.log

# Temporary files
*.tmp

# System files
.DS_Store
Thumbs.db

credentials/
